.social-links {
    bottom: 0px;
    right: 0px;
    font-size: 0px;
    a {
      position: relative;
      width: 50px;
      height: 50px;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      color: $color-purple;
      &:hover {
        background: $color-purple-hover;
      }
    }
  }

  .topBanner {
    background: $color-purple url('/images/flowerpurple.jpeg') no-repeat top left;
    background-size: 100%;
    position: relative;
    height: 640px;
    @include respond-below(lg) {
      background-size: cover;
    }
    @include respond-below(md) {
      margin-left: 0;
    }
  
  
    .row {
      height: 640px;
      margin: 0px;
      @include respond-below(sm) {
        height: 420px;
      }
      h1 {
        font-weight: 700;
        font-size: 6.5em;
        line-height: 92px;
        @include respond-below(md) {
          font-size: 4.8em;
          line-height: 72px;
        }
        @include respond-below(sm) {
          display: none;
        }
      }
    }
  
    .btn-outline {
      background: transparent;
      color: #fff;
      border: 3px solid #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 22px;
      display: block;
      text-align: center;
      white-space: normal;
      padding: 0.375rem 4rem;
      border-radius: 0px;
  
      &:hover {
        background: $color-purple;
        border-color: $color-purple;;
      }
    }
  
    &.no-after{
      &:after{
        display: none;
      }
  
      .row {
        @include respond-below(md) {
          height: auto;
        }
      }
  
    }
  
  }